@model IEnumerable<QuanLiKhoHang_DoAnWeb.Models.PurchaseOrders>
@using System.Globalization
@{
    ViewData["Title"] = "Index";
}

<br />
<br />

<div class="row">
    <div class="col-6">
        <h2 class="text-info">Danh sách lệnh xuất kho</h2>
    </div>
    <div class="col-6 text-right">
        <a asp-action="Create" class="btn btn-info"><i class="fas fa-plus"></i>&nbsp; Tạo lệnh xuất kho mới </a>
    </div>
</div>

<br />
<div>
    <table class="table table-striped border">
        <tr class="table-info">
            <th>
                @Html.DisplayNameFor(m => m.vendor.Name)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.Description)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.OrderDate)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.Total)
            </th>
            <th></th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(m => item.vendor.Name)
                </td>
                <td>
                    @Html.DisplayFor(m => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(m => item.OrderDate)
                </td>
                <td>
                    @{
                        CultureInfo cul = CultureInfo.GetCultureInfo("vi-VN");
                    }
                    @String.Format(cul.NumberFormat, "{0:c}", item.Total)
                </td>
                <td>
                    <partial name="_TableButtonPartial" model="item.Id" />
                </td>
            </tr>

        }
    </table>
</div>



